h1, h2, h3, h5, h6 {
  font-family: "Righteous", cursive;
  color: black; }

.myDarkBtn {
  font-family: "Montserrat", sans-serif;
  background: black;
  color: white; }

#FAQHeaders a {
  font-family: "Righteous", cursive;
  color: black; }

p {
  color: black;
  font-family: "Montserrat", sans-serif; }

button {
  font-family: "Montserrat", sans-serif; }

#indexBody {
  background: url(/img/indexbackground.jpg) fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

#storeBody {
  background: url(/img/storebkgrnd.jpg) fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

#homepageBody {
  background: url(/img/homePageBackground.jpg) fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

#howDoesItWorkBody {
  background: url(/img/howdoesitworkbckgrnd.jpg) fixed;
  background-position: center 25%;
  background-repeat: repeat-x; }

#landingPageHeader {
  font-family: "Righteous", cursive;
  font-size: 15vw; }

#landingPagefooter {
  font-family: "Righteous", cursive;
  font-size: 2.6vmax; }

#landingButton {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 1; }

#getStartedBtn {
  background-color: black;
  color: white; }

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute; }

#dropdownMenuButton {
  color: black; }

.fas {
  color: black; }

#womanHome {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto; }

#subscribeBtn {
  background-color: #5fe2e2;
  color: white; }

#homepageHeader {
  font-family: "Righteous", cursive; }

#homepageText {
  width: 100%;
  height: 55vh;
  overflow: auto;
  overflow-y: scroll; }

/* Hide scrollbar for Chrome, Safari and Opera */
#homepageText::-webkit-scrollbar {
  display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
#homepageText {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

#boxDescBody {
  background: url(/img/whatsinboxbkg.jpg);
  background-color: #29232d;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.164); }
  .carousel-caption h5 {
    font-family: "Righteous", cursive; }
  .carousel-caption p {
    font-family: "Montserrat", sans-serif; }

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
  height: 30px;
  width: 30px; }

#faqBody {
  background: url(/img/FAQbackground.jpg) fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.form-group {
  font-family: "Montserrat", sans-serif;
  color: black; }

.form-title p {
  font-size: 12px; }

#signInBtn {
  background-color: black;
  color: white; }

#createAccBtn {
  background-color: white;
  border-style: solid;
  border-color: black; }

#bigNav {
  margin-left: 80%; }

.howWorksCardHeader {
  width: auto;
  height: auto;
  font-size: large;
  font-weight: bold;
  font-family: "Righteous", cursive;
  background-color: rgba(234, 245, 226, 0.603);
  margin-bottom: -10px;
  z-index: 1; }

#footerLogo {
  height: 125px;
  width: auto;
  top: -23px;
  left: 168px;
  position: absolute;
  z-index: 1; }

#imageDiv {
  position: absolute;
  width: 500px;
  height: 500px; }

#hastagDiv {
  position: absolute;
  width: 500px;
  height: 500px; }

#hastagLogo {
  height: 100px;
  width: auto;
  top: 243px;
  left: 365px;
  position: absolute; }

.footerSocial {
  color: #b8b8b8;
  margin: 5px;
  z-index: 1; }
  .footerSocial:hover {
    color: black; }

.footerLinks {
  color: black;
  font-family: "Righteous", cursive; }
  .footerLinks:hover {
    color: grey; }
