$color-primary: black;
$color-secondary: white;

$header-font: 'Righteous', cursive;
$secondary-font: 'Montserrat', sans-serif;

p {
    color: $color-primary;
    font-family: $secondary-font;
}

button {
    font-family: $secondary-font;
}


#indexBody {
    background: url(/img/indexbackground.jpg)fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#homepageBody {
    background: url(/img/homePageBackground.jpg)fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }

#landingPageHeader {
    font-family: $header-font;
    font-size: 15vw;
}

#landingPagefooter {
    font-family: $header-font;
    font-size: 2.6vmax;    
}

#landingButton {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 1;
}

#getStartedBtn {
    background-color: $color-primary;
    color: $color-secondary;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

#dropdownMenuButton {
    color: $color-primary;
  }

.fas {
        color: $color-primary;
        }

#womanHome {
    max-width: 100%;
}

#subscribeBtn {
    background-color: rgb(95, 226, 226);
    color: $color-secondary;
}

#homepageHeader {
    font-family: $header-font;
}